<div class = "modal-dialog modal-lg modal-dialog-center">
  <div class = "modal-content">
    <div class = "modal-header">
      <button type = "button" class = "close" data-dismiss = "modal" aria-label="Close">
        <span aria-hidden = "true">×</span>
      </button>
    </div>
    <div class ="modal-body">
      <%= form_with(model: @user, url: applies_apply_application_content_user_path, local: true, method: :patch) do |f| %>
          <% @receve_application_content.each do |key, receve_application_content| %>
          <table class = "table table-bordered request-modal">
            
            <thead>
              <tr>
                <% @member = User.find(key)%>
                <h1><%= @member.name%>から１ヶ月分の勤怠申請</h1>
                <th>月</th>
                <th>指示者確認印</th>
                <th>変更</th>
                <th>勤怠確認</th>
              </tr>
            </thead>
            
            <tbody>
             <% receve_application_content.each do |day| %>
               <%= f.fields_for "applies[]", day do |apply| %>
              <tr>
                <td><%= day.one_month.month%></td>
                <td><%= apply.select :application_content, Apply.application_content.key.to_a, {}, class: "form-control"%></td>
                <td><%= apply.check_box :change, {class: "check_box"}, true, false %></td>
                <td><%= link_to "確認",user_path(id: @member, date.one_month), class: "btn btn-primary btn-#{yield(:class_text)}"%></td>
              </tr>
              <% end %>
              <% end %>
            </tbody>
           </table>
          <% end %>
        <% end %>
    </div>
  </div>
