<% provide(:title,"拠点")%>

<h1>拠点一覧</h1>
  <div class = "container">
    <table class = "table table-condensed table-bordered table-striped" id="table-users">
      <thead>
        <tr>
          <th colspan = "2"></th>
          <th colspan = "2"></th>
          <th>拠点番号</th>
          <th>拠点名</th>
          <th>勤怠種類</th>
        </tr>
        <% @bases.each do |base|%>
        <tr>
          <th colspan = "2"><%= link_to "修正", "#" , class: "btn btn-primary" %></th>
          <th colspan = "2"><%= link_to "削除", "#", class: "btn btn-primary"%></th>
          <th><%= base.base_no %></th>
          <th><%= base.base_name%></th>
          <th><%= base.attendance_type%></th>
        </tr>
        <% end %>
        <tr>
          <th colspan = "7"></th>
        </tr>
      </thead>
    </table>
   
    <table class = "table table-condensed table-bordered table-hover">
        <tbody>
          <tr>
            <td><%= link_to "拠点情報追加", "#", class: "btn btn-primary" %></td>
          </tr>
        </tbody>
    </table>
  </div> 
</div>

