<% provide(:title, "ALL USERS")%>
<% provide(:class_text, "更新") %>

 <h1>USER一覧</h1>
 
 <%= form_with(url: import_users_path)  do |f|%>
        <%= f.file_field :file, accept: 'csv' %>
        <%= f.submit "インポート", class: "btn btn-primary csv-button"%>
      <% end %>

<div class = "container1">
  <div class = "col-md-10 col-md-offset-1">
    <table class = "table table-condensed table-hover" id="table-users">
      <div class = "col-md-11 col-md-offset-1">
      <% @users.each do |user|%>
        <% unless user.admin? %>
        <table>
          <tr>
            <td><%= user.name %></td>
          </tr>
            <td>|<%= link_to "削除",user,method: :delete,
            data: {confirm: "#{user.name}を削除してもよろしいでしょうか？"},
            class: "btn btn-primary"%></td>
        </table>
        
        <div class = "panel panel-default">
          <div class = "panel-heading">
              <button type = "button" class = "btn btn-lg btn-primary" data-toggle="collapse" data-target="#collapse<%= user.id %>">編集</button>
            
          </div>
          <div id="collapse<%= user.id %>" class="panel-collapse collapse out" >
            <div class = "panel-body">
             <%= render "form", locals: {user: @user = User.find_by(id: user.id) }%>
              
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
      </div>
    
    <%= will_paginate %>
  </div>
  </div>
  
  <div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  