<% provide(:title, @user.name) %>

<div class = "user_show_container">
  <table class = "table table-bordered table-condensed table-hover user-table">
    <thead>
        <tr>  
          <th><%= link_to "⬅️️", user_path(date: @first_day.prev_month), class: "btn btn-info" %>
          <%= l(@first_day, format: :middle)%>　時間管理表
           <%= link_to "➡️",user_path(date: @first_day.next_month), class: "btn btn-info"%>
          </th>
          <th>
          <h5>指定勤務開始時間　　<%= l(@user.designated_work_start_time, format: :time)%></h5>
          <h5><p>指定勤務終了時間　　<%= l(@user.designated_work_end_time, format: :time) %></p></h5>
          </th>
          <th colspan= "3">基本時間　　<%=l(@user.basic_time, format: :time)%></th>
          <th>初日<%= l(@first_day, format: :short)%></th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>所属：<%= @user.department.present? ? @user.department: "未所属" %></td>
          <td>氏名：<%= @user.name %></td>
          <td>コード</td>
          <td><%= @user.id%></td>
          <td>出勤日数<%= @worked_on%></td>
          <td>締日<%= l(@last_day, format: :short)%></td>
        </tr>
    </tbody>
  </table>
</div>

<div>
  <% if @user.superior && current_user == @user %>
    <p>[所属長承認申請のお知らせ]<%= link_to "通知が#{@one_month_requests.count}件あります。",applies_receive_one_month_request_user_path(@user), remote: true,
       class: "receive-request-link" %>
    </p>
  <% end %>
</div>


<!----- ボタン箇所--->
 <div class = "btn-user-show">
   <%= link_to "勤怠編集", attendances_edit_one_month_user_path(@user), class: "btn btn-primary"%>
   <%= link_to "CSV出力", "#", class: "btn btn-primary"%>
   <p><%= link_to "勤怠修正ログ","#", class: "btn btn-primary btn-md"%></p>
  </div>


<div class = "show_body">
  <table class = "table table-bordered table-condensed table-hover" id= "table-attendaces">
    <thead>
      <tr>
        <th rowspan = "3">残業指示</th>
        <th rowspan = "3">日付</th>
        <th rowspan = "3">曜日</th>
        <th colspan = "8">実績</th>
        <th colspan = "7" >所定外勤務</th>
      </tr>
      <tr>
        <td colspan = "4">出社</td>
        <td colspan = "2">退社</td>
        <td rowspan ="2">在社時間</td>
        <td rowspan = "2">備考</td>
        <td colspan = 2>終了予定時間</td>
        <td rowspan = "2">時間外時間</td>
        <td rowspan = "2">業務処理内容</td>
        <td rowspan = "2">指示者確認印</td>
      </tr>
      <tr>
        <td>時</td>
        <td>分</td>
        <td colspan="2"></td>
        <td>時</td>
        <td>分</td>
        <td>時</td>
        <td>分</td>
      </tr>
    </thead>
        <tbody>
          <% @attendances.each do |day| %>
          <tr>
            <td><%= link_to '残業指示', "#", class: "btn btn-primary"%></td>
            <td><%= l(day.worked_on,format: :short) %></td>
            <td><%= $days_of_the_week[day.worked_on.wday] %></td>
            <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
            <td><%= l(day.started_at.floor_to(15.minutes),format: :minute) if day.started_at.present? %></td>
            <td>
               <% if btn_text = attendance_state(day) %>
                 <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
               <% end %>
            </td>
            <td><%=l(day.finished_at,format: :hour) if day.finished_at.present? %></td>
            <td><%=l(day.finished_at.floor_to(15.minutes),format: :minute) if day.finished_at.present? %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
       
        <tfoot>
         <tr>
          <td></td>
          <td></td>
          <td
          <td colspan ="6"></td>
          <td colspan = "7"></td>
          <td class = "application-form">
            <% if current_user %>
              <% day = @user.attendances.find_by(worked_on: @first_day)%>
                <%= form_with(model: @user, url: attendances_update_one_month_request_user_path(@user), local: true, method: :patch) do |f| %>
                  <% f.fields_for "attendances[]", day do |attendance|%>
                    <%= "所属長承認: "%>
                      <% if day.one_month_approval_status.nil? && day.one_month_request_status.nil?%>
                        <%= "末"%>
                      <% elsif day.one_month_request_status == "申請中"%>
                        <%= "上長へ申請中" %>
                      <% elsif (day.one_month_approval_status =="承認") || (day.one_month_approval_status) =="否認" %>
                        <%="#{day.one_month_request_boss}から#{day.one_month_approval_status}済" %>
                      <% end %>
                        <br><%= f.submit "申請", class: "btn btn-primary" %></br>
                  <% end %>
                <% end %>
            <% end %>
        
    </tfoot>
  </table> 
</div>

    <div id="receve_application_content" class=" modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <div id="receive-change-attendance" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <div id="receive-one-month-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>


 