<% provide(:class_text, 'receive_change_attendance')%>
<% provide(:button_text, '変更を送信する')%>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button"class="close"data-dismiss="modal"aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <%= form_with(model: @user, url: attendances_update_change_attendance_user_path, local: true, method: :patch) do |f|%>
        <% @change_attendance_requests.each do |key, change_attendance_request| %>
          <table class="table table-bordered request-modal">
            
            <thead>
              <tr>
                <% @member = User.find(key)%>
                <h1 class = "modal-title"><%= User.find(key).name%>からの勤怠変更申請</h1>
                <th rowspan= "3">日付</th>
                <th rowspan ="3">曜日</th>
                <th colspan= "4">変更前</th>
                <th colspan= "4">変更後</th>
                <th rowspan ="3">備考</th>
                <th rowspan ="3">指示者確認印</th>
                <th rowspan ="3">変更</th>
                <th rowspan ="3">勤怠を確認する</th>
              </tr>
              
              <tr>
                <th colspan= "2">出社</th>
                <th colspan ="2">退社</th>
                <th colspan ="2">出社</th>
                <th colspan ="2">退社</th>
              </tr>
              
              <tr>
                <th>時</th>
                <th>分</th>
                <th>時</th>
                <th>分</th>
                <th>時</th>
                <th>分</th>
                <th>時</th>
                <th>分</th>
              </tr>
            </thead>
            
            <tbody>
              <% change_attendance_request.each do |day| %>
                <%= f.fields_for "attendances[]", day do |attendance| %>
                <tr>
                  <td><%= l(day.worked_on, format: :short) %></td>
                  <td><%= $day_of_the_week[days.worked_on.wday]%></td> 
                  <td><%= day.started_at.hour if day.started_at.present? %></td>
                  <td><%= day.started_at.minute if day.started_at.present? %></td>
                  <td><%= day.finished_at.hour if day.finished_at.present?%></td>
                  <td><%= day.finished_at.minite if day.finished_at.present? %></td>
                  <td><%= day.after_started_at.hour if day.after_started_at.present? %></td>
                  <td><%= day.after_started_at.minite if day.after_started_at.present?%></td>
                  <td><%= day.after_finished_at.hour if day.after_finished_at.present?%></td>
                  <td><%= day.after_finished_at.minite if day.after_finished_at.present?%></td>
                  <td><%= day.note %></td>
                  <td><%= attendance.select :edit_attendance_request_status, Attendance.edit_attendance_request_statuses.keys.to_a,{}, class: "form-control" %></td>
                  <td><%= attendance.check_box :change, {class: "check_box"}, true, false %></td>
                  <td><%= link_to "確認",user_path(id: @member, date: day.worked_on.beginning_of_month), class: "btn btn-primary btn-#{yield(:class_text)}"%></td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        <% end %>
        
      <table>
        <div class = "footer-button">
          <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}"%>
            <button type ="button" class="btn btn-primary btn-<%= yield(:class_text)%>" data-dismiss = "modal">
              戻る
            </button>
        </div>
      </table>
    <% end %>
  </div>
</div>